*.py[cod]
__pycache__/
dist/
build/
.coverage*
*.egg-info/
pip-wheel-metadata/
.pytest_cache/
.mypy_cache/

docs/_build/
docs/site

.venv/
venv/
env/

.pdm.toml
__pypackages__/

.nox/
.tox/

.vscode/
.idea/

CLAUDE.md
mapping.json
src/semantix/elasticsearch/exp.ipynb
src/semantix/elasticsearch/experiment.py
src/semantix/elasticsearch/index-mapping-check.py
tests/elasticsearch_test.py
tests/embedding_test.py
tests/exampel.txt
